<!doctype html>
<html class="no-js" lang="">

<head>
	<meta charset="utf-8">
	<title>Everywhere School</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'  type='text/css'>
	<link rel="stylesheet" href="/normalize.css">
	<link rel="stylesheet" href="/style.css">
</head>

<body>
	<div class="content">
		<div class="card title">
			<img src="images/logo.svg">
			<h1>EVERYWHERE SCHOOL</h1>
			<h2>Online <span style="color: #FF0061; font-weight: 800;">live</span> education for kids during the Covid-19 pandemic</h2>
			
			<a href="about.html">About Us</a><br>
			<a href="submit.html">Submit a Stream</a>
		</div>

		{% for stream in streams.items %}
		<a href="{{ stream.link }}">
			<div class="card">
				<div class="card-image"><br></div>
				<div class="card-date">{{ stream.startTime }}</div>
				<h3>{{ stream.name }}</h3>
				<p>By <a href="{{ stream.creatorLink }}">{{ stream.creatorName }}</a>{% if stream.platform %} on {{ stream.platform }}{% endif %}</p>
				<div class="meta">
					<span class="subject">{{ stream.subject }}</span>
					<span class="separator"> • </span>
					<span class="age-range">Ages {{ stream.ageRange }}</span>
				</div>
				<div class="badge-live"><br></div>
				<div class="badge-soon"><br></div>
			</div>
		</a>
		{% endfor %}

		<a href="link">
			<div class="card live">
				<div class="card-image"><br></div>
				<div class="card-date">Fri March 27 at 2:30 ET</div>
				<h3>Intro to Chess</h3>
				<p>By <a href="educator-link">Freddie</a> on YouTube</p>
				<div class="meta">Science • Ages 5-12</div>
				<div class="badge-live"><br></div>
				<div class="badge-soon"><br></div>
			</div>
		</a>
		
		<a href="link">
			<div class="card soon">
				<div class="card-image"><br></div>
				<div class="card-date">Fri March 27 at 2:30 ET</div>
				<h3>Intro to Chess</h3>
				
				<p>By <a href="educator-link">Freddie</a> on YouTube</p>
				<div class="meta">Science • Ages 5-12</div>
				<div class="badge-live"><br></div>
				<div class="badge-soon"><br></div>
			</div>
		</a>
		
		<a href="link">
			<div class="card">
				<div class="card-image"><br></div>
				<div class="card-date">Fri March 27 at 2:30 ET</div>
				<h3>Intro to Chess</h3>
				<p>By <a href="educator-link">Freddie</a> on YouTube</p>
				<div class="meta">Science • Ages 5-12</div>
				<div class="badge-live"><br></div>
				<div class="badge-soon"><br></div>
			</div>
		</a>
	</div>
	<footer>
		<p>Powered by <a rel="external" href="https://netlify.com">Netlify</a></p>
	</footer>
</body>

</html>
