/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


html {
  color: #fff;
  background: #19484C;
  font-size: 16px;
  line-height: 24px;
  font-family: Nunito, sans-serif;
  margin: 0;
  padding: 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #00C4D5;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #00C4D5;
  color: #fff;
  text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Page Layout
   ========================================================================== */

.content {
	width: 1280px;
	max-width: 100%;
	text-align: center;
	margin: 0 auto;
}

@media (max-width: 1280px) {
	.content {
		width: 960px;
	}
}

@media (max-width: 960px) {
	.content {
		width: 640px;
	}
}

@media (max-width: 640px) {
	.content {
		width: 320px;
	}
}

.text-content {
	width: 940px;
	max-width: 100%;
	background: #072F33;
	border-radius: 20px;
	margin: 10px;
	padding: 20px;
	text-align: left;
	float: right;
}

.text-content p {
	margin: 0 0 15px;
}

.text-content h1, .text-content h3 {
	margin: 0 0 15px;
	padding: 0;
	color: #00C4D5;
}

.text-content h3 {
	margin: 0 0 5px;
}


/* ==========================================================================
   Site Styles
   ========================================================================== */

a {
	color: #00C4D5;
	text-decoration: none;
}

p {
	margin: 0 0 10px;
	padding: 0;
}

.card {
	display: inline-block;
	text-align: center; 
	position: relative;
	width: 300px;
	height: 350px;
	max-height: 100%;
	background: #fff;
	color: #333;
	border-radius: 20px;
	
	margin: 10px;
	padding: 0px;
	float: left;
	overflow: hidden;
	box-shadow: 0 0 0 0px rgba(0,196,213,0);
	transition: all 0.3s ease;
}

/* Title Card */

.card.title {
	background: #072F33;
	padding: 20px;
}

.card.title h1 {
	color: #fff;
	font-size: 35px;
	line-height: 35px;
	font-weight: 800;
	margin: 0;
	padding: 0;
}

.card.title h2 {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
}

.card.title a:hover {
	color: #FF0061;
}

/* Stream Card */

.card:hover {
	box-shadow: 0 0 0 3px rgba(0,196,213,1);
	transition: all 0.1s ease;
}

.card.live:hover {
	box-shadow: 0 0 0 3px rgba(255,0,97,1);
	transition: all 0.1s ease;
}

.card.title:hover {
	box-shadow: none;
}

.card-image {
	display: block;
	background: #eee;
	background: url(images/example.jpg) no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 190px;
}

.card h3 {
	font-size: 25px;
	line-height: 27px;
	font-weight: 800;
	color: #00C4D5;
	margin: 10px 0 0;
	padding: 0;
}

.card.live h3, .card.live .meta, .card.live a {
	color: #ff0061;
}

.card .meta {
	position: absolute;
	bottom: 10px;
	width: 100%;
	color: #00C4D5;
}


/* Badges */
.badge-live {
	display: block;
	width: 80px;
	height: 80px;
	position: absolute;
	top: 0;
	right: 0;
	background: url(images/badge-live.svg) no-repeat top left;
	opacity: 0;
}

.badge-soon {
	display: block;
	width: 80px;
	height: 80px;
	position: absolute;
	top: 0;
	right: 0;
	background: url(images/badge-soon.svg) no-repeat top left;
	opacity: 0;
}

.card.live .badge-live {
	opacity: 1;
	animation: pulse 2s infinite;
}

.card.soon .badge-soon {
	opacity: 1;
}

@keyframes pulse {
  0% 	{ opacity: 0; }
  50% 	{ opacity: 1; }
  100% 	{ opacity: 0; }
}
   

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}



/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

