/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Nunito webfont
   ========================================================================== */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: local('Nunito Light'), local('Nunito-Light'),
       url('/fonts/nunito-v12-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/nunito-v12-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'),
       url('/fonts/nunito-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/nunito-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: local('Nunito ExtraBold'), local('Nunito-ExtraBold'),
       url('/fonts/nunito-v12-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/nunito-v12-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ==========================================================================
   Colors
   ========================================================================== */
:root {
  --white: #ffffff;
  --silver: #cccccc;
  --grey: #58696b;
  --dark-grey: #333333;
  --black: #000000;
  --green: #19484c;
  --green-dark: #072f33;
  --turquoise: #00c4d5;
  --turquoise-dark: #007781;
  --red: #ff5193;
  --red-dark: #E60058;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: var(--white);
  background: var(--green);
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: Nunito, sans-serif;
  margin: 0;
  padding: 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: var(--turquoise);
  color: var(--white);
  text-shadow: none;
}

::selection {
  background: var(--turquoise);
  color: var(--white);
  text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.25rem 0;
  background: var(--silver);
  color: var(--black);
  padding: 0.25rem 0
}

/* ==========================================================================
   Page Layout
   ========================================================================== */
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 80rem;
  text-align: center;
  margin: 1.875rem auto;
}

[role="banner"] {
  width: 100%;
}

.card {
  float: left;
}

footer {
  margin-top: auto;
  padding: 1rem;
  text-align: center;
}

.text-content {
  width: 38.8rem;
  max-width: 90%;
  background: var(--green-dark);
  border-radius: 1.25rem;
  margin: 0.625rem;
  padding: 1.25rem;
  text-align: left;
  float: left;
}

h2.date-title {
	clear: both;
	text-align: left;
	width: 100%;
	font-size: 2em;
	color: #00C4D5;
	margin: 0;
	padding: 30px 0 10px 10px;
}


.text-content p {
  margin: 0 0 0.9375rem;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.text-content h1 {
  margin: 0.625rem 0 0.9375rem;
  line-height: 1.0625;
}

.text-content h2 {
  margin: 2.8125rem 0 0.3125rem;
  padding: 0;
  color: var(--turquoise);
}


@media (max-width: 80rem) {
  .container {
    max-width: 60rem;
  }
}

@media (max-width: 60rem) {
  .container {
    max-width: 40rem;
  }
}

@media (max-width: 40rem) {
  .container {
    max-width: 31.25rem;
  }

  .card {
    float: none;
  }
  

}

/* ==========================================================================
   Site Styles
   ========================================================================== */

a {
  color: var(--turquoise);
  text-decoration: none;
}

p {
  margin: 0 0 0.625rem;
  padding: 0;
}

.card {
  display: inline-block;
  text-align: center;
  position: relative;
  width: 18.75rem;
  height: 21.875rem;
  background: var(--white);
  color: var(--dark-grey);
  border-radius: 1.25rem;
  margin: 0.625rem;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 0 0 0 rgba(0, 196, 213, 0);
  transition: all 0.3s ease;
}

.card--brand, .card--subhead, .card--navigation {
	height: 14rem;
}

.card--subhead p.subhead {
	font-size: 1.5em;
	padding: 1.5rem 0.5rem 0;
}

header .card.card--navigation {
	padding: 3rem 0.5rem 0;
}

.card--navigation a {
	font-size: 1.5em;
	padding: 1rem 0;
	float: left;
	width: 100%;
}

.card a {
	color: var(--turquoise-dark);
}

/* Title Card */

header .card {
  background: var(--green-dark);
  padding: 1rem;
}

header .card .brand {
  color: var(--white);
  font-size: 2.1875rem;
  line-height: 1;
  font-weight: 800;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

header .card .subhead {
  color: var(--white);
  font-weight: 300;
  margin: 0.625rem 0;
}

header .card .subhead em {
  color: var(--red);
  font-style: normal;
  font-weight: 800;
}

header .card a {
  color: var(--turquoise);
}

header .card a:hover {
  color: var(--red);
}

/* Brand Card */
.card--brand a::before {
  display: block;
  content: "";
  position: absolute;
  height: 21.875rem;
  width: 18.75rem;
  left: 0;
  top: 0;
}

.card--brand:hover,
.card--brand:focus-within {
  box-shadow: 0 0 0 0.1875rem var(--turquoise);
  transition: all 0.1s ease;
}

/* Stream Card */

.card--stream:hover,
.card--stream:focus-within {
  box-shadow: 0 0 0 0.1875rem var(--turquoise);
  transition: all 0.1s ease;
}

.card--stream[data-status="live"]:hover,
.card--stream[data-status="live"]:focus-within {
  box-shadow: 0 0 0 0.1875rem var(--red);
  transition: all 0.1s ease;
}

.card[data-status="done"] {
  display: none;
}

.card-image {
  display: block;
  background: #eee;
  width: 100%;
  height: 11.875rem;
  margin: 0 0 0.3125rem;
}

.card-date {
	margin: 0.3125rem 0.625rem 0;
}

.card-image img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.card--stream h2 a::before {
  display: block;
  content: "";
  position: absolute;
  height: 21.875rem;
  width: 18.75rem;
  left: 0;
  top: 0;
}

.card--stream p a {
  position: relative;
  z-index: 1;
}

.card p {
	margin: 0 0.625rem 0;
	line-height: 1.2em;
}

.card h2 {
  font-size: 1.5625rem;
  line-height: 1.08;
  font-weight: 800;
  color: var(--turquoise-dark);
  margin: 0.3125rem 0.625rem 0;
  padding: 0;
}

.card .meta {
  position: absolute;
  bottom: 0.625rem;
  width: 100%;
  color: var(--turquoise-dark);
}

.card[data-status="live"] h3,
.card[data-status="live"] .meta,
.card[data-status="live"] a {
  color: var(--red-dark);
}

/* Badges */
.badge {
  display: none;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.badge .label {
  text-transform: uppercase;
  color: white;
  position: absolute;
  font-weight: 800;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: rotate(45deg) translateX(-50%) translateY(-25%);
}

.card[data-status="soon"] .badge {
  display: block;
  color: var(--turquoise);
  
}

.card[data-status="live"] .badge {
  display: block;
  color: var(--red);
}

.card[data-status="live"] .badge .label {
	animation: pulse 2s infinite;
	
	@media (prefers-reduced-motion: reduce) {
    	animation: none;
  	}
}

.card[data-status="done"] .badge {
  display: block;
  color: var(--grey);
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ==========================================================================
   Mobile Styles
   ========================================================================== */

@media (max-width: 40rem) {
	.container {
		text-align: center;
		margin: 0;
	}
	
	.date-title {
	  text-align: center;
	}
	
	.card--brand, .card--subhead, .card--navigation, .text-content {
		height: auto;
		width: 90%;
		padding: 0.625rem;
	}
	
	header .card.card--navigation {
		padding: 0.625rem;
	}
	
	.card--subhead p.subhead {
		padding: 0;
		margin: 0;
		font-size: 1em;
	}
	
	.card--navigation a {
		font-size: 1em;
		padding: 0.25rem;
		margin: 0;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
