{% if page.url !== '/' %}
<a href="/">Home</a><br />
{% endif %}
{% if page.url !== '/about/' %}
<a href="/about/">About</a><br />
{% endif %}
<a href="https://airtable.com/shrFfyYXe9mhnzwPQ">Submit a Stream</a>
