{% if page.url !== '/' %}
<a href="/">Home</a><br />
{% endif %}
{% if page.url !== '/about/' %}
<a href="/about/">About</a><br />
{% endif %}
<a rel="external noopener noreferrer" href="https://airtable.com/shrFfyYXe9mhnzwPQ">Submit a Stream</a>
<a rel="external noopener noreferrer" href="https://airtable.com/shrvUONKc4SxzTCBC">Report a Problem</a>