<article class="card card--stream" data-status data-subject="{{ item.subject }}" data-ages="{{ item.ageRange }}">
    <div class="card-image">
        <img src="{{ item.photo[0].url }}" alt="" loading="lazy" />
    </div>
    <h2><a rel="external noopener noreferrer" href="{{ item.link }}" target="_blank">{{ item.name }}<span class="sr-only"> (opens in new window)</span></a></h2>
    <p>By <a rel="external noopener noreferrer" href="{{ item.creatorLink }}">{{ item.creatorName }}</a>{% if item.platform !== 'Web' %} on {{ item.platform }}{% endif %}</p>
    <div class="meta">
        <span class="subject">{{ item.subject }}</span>
    </div>
    <div class="badge">
        <span class="label">Done</span>
        <svg viewBox="0 0 80 80" xmlns="http://www.w3.org/2000/svg">
            <g fill="currentColor">
                <path d="M0,0 L60,0 C71.045695,0 80,8.954305 80,20 L80,80 L80,80 L0,0 Z"></path>
            </g>
        </svg>
    </div>
</article>
