<!doctype html>
<html class="no-js" lang="en-ca">

<head>
	<meta charset="utf-8">
	<title>{% if page.url !== '/' %}{{ title }} | {% endif %}Everywhere School</title>
	<meta name="description" content="{{ site.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/normalize.css">
	<link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <header role="banner" class="card title">
            <a href="/">
                <img src="/images/logo.svg" alt="" />
                <span class="sr-only">Everywhere School</span>
            </a>
            {% set brandTag = 'h1' %}
            {% if page.url !== '/' %}
            {% set brandTag = 'p' %}
            {% endif %}
            <{{ brandTag }} class="brand">Everywhere School</{{ brandTag }}>
            <p class="subhead">Online <em>live</em> education for kids during the Covid-19 pandemic</p>
            {% include 'partials/navigation.njk' %}
        </header>
        <main>
        {% block content %}
        {% endblock content %}
        </main>
    </div>
    {% include 'partials/footer.njk' %}
    <script type="module" src="/app.js"></script>
</body>

</html>
